@import url('https://fonts.googleapis.com/css2?family=Judson:ital,wght@0,400;0,700;1,400&display=swap');


:root {
    --favoriteFont : "Judson", serif;
    --favoriteColor : #fc127b;
}

h2 {
    text-align: center;
    padding: 2%;
    font-size: 3.7vh;
}

.container{
    margin-bottom: 12vh;
}

.chickensContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5vh;
    
}