@import url('https://fonts.googleapis.com/css2?family=Judson:ital,wght@0,400;0,700;1,400&display=swap');


:root {
    --favoriteFont : "Judson", serif;
    --favoriteColor : #fc127b;
}

html, body {
    margin: 0;
    padding: 0;
}

h1 {
    color: var(--favoriteColor);
    font-family: var (--favoriteFont);
    margin: 0 auto;
    
}

.navBar {
    display: flex;
    align-items: center;
    height: 70px;
    box-shadow: 0 1px 0 var(--favoriteColor);
    .logo {
        width: 10vh;
        position: absolute;
    }
}